@media(max-width:768px){
    /***hide nav links and social links***/
    .right-nav{
        display: none;
    }
    .navbar{
        height: 4rem;
    }

    /**change home grid to 1col - 2row*/
    .home-grid-wrapper{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 0;
    }

    /***show menu bar*/
    .menu-bar{
        display: inline-block;
    }

    /***hide image ***/
    .home-image-box{
        display: none;
    }



    
}